# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Prefer not to include vendor dir
vendor/

data/docs/
docs/

# local IDE settings
.idea

# local build output
go-jeebie

# bin folder
bin/

# Test roms dir
test-roms/*.gb
test-roms/game-boy-test-roms*
!test-roms/dmg-acid2.gb
!test-roms/*blargg*.gb
*.gb:Zone.Identifier